# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.development
.env.production

# Editor/IDE
.history/
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/
cypress/screenshots/
cypress/videos/
docs/jest-coverage/
docs/jest-stare/

# Browser drivers
chromedriver
geckodriver

# OS files
.DS_Store
Thumbs.db

# Large files
# public/favicon.ico

# Temporary files
*.tmp
*.temp

# Debug
.eslintcache
.cache/
